body {
  background: #000000;
  color: #ffffff; 
  font-weight: 300;
  .lock {
    overflow: hidden;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}
[class*="__container"] {
  max-width: rem($containerWidth + $mainOffset * 2);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
}

.gradient-title {
  font-family: "BunkenTech";
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.2em;
  @include media(1440) {
    font-size: 34px;
  }
  @include media(1280) {
    font-size: 28px;
  }
  @include media(990) {
    font-size: 22px;
    line-height: 40px;
  }
  @include media(600) {
    max-width: 340px;
    margin: 0 auto;
  }
}
.green-gradient {
  background: linear-gradient(90deg, #fb0 0%, #1bff00 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}
.video-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}