@font-face {
  font-family: Bunken;
  font-display: swap;
  src: url("../fonts/Bunken-Tech.woff2") format("woff2"), url("../fonts/Bunken-Tech.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
