@font-face {
  font-family: Bunken-Tech;
  font-display: swap;
  src: url("../fonts/BunkenTechSansStdWideMed/font.woff2") format("woff2"), url("../fonts/BunkenTechSansStdWideMed/font.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Bunken-Tech;
  font-display: swap;
  src: url("../fonts/BunkenTechSansStdWideBold/font.woff2") format("woff2"), url("../fonts/BunkenTechSansStdWideBold/font.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
