@font-face {
  font-family: BunkenTech;
  font-display: swap;
  src: url("../fonts/BunkenTech-Bold.woff2") format("woff2"), url("../fonts/BunkenTech-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: BunkenTech;
  font-display: swap;
  src: url("../fonts/BunkenTech-Medium.woff2") format("woff2"), url("../fonts/BunkenTech-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}