.capsule {
  &__section {
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    padding: 72px 25px;

    @include media(990) {
      padding: 60px 0;
    }
  }

  &__container {
    animation: heightanimete 4s linear;
    position: absolute;
    overflow-y: hidden;
    left: 0;
    right: 0;
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 1614px;
    margin: 0 auto;
    z-index: -1;
    display: flex;
    align-items: flex-end;

    @include media(990) {
      align-items: flex-start;
    }

    img {
      width: 100%;

      @include media(600) {
        height: 60%;
        object-fit: cover;
        margin-top: 40px;
      }
    }

    picture {
      width: 100%;

      @include media(600) {
        height: 60%;
        object-fit: cover;
        margin-top: 40px;
      }
    }
  }

  &__logo {
    max-width: 352px;
    width: 100%;
    margin: 0 auto rem(170);
    display: flex;

    @include media(990) {
      max-width: 180px;
      margin-bottom: rem(70);
    }

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-family: "BunkenTech";
    letter-spacing: 0.2em;
    background: linear-gradient(270deg, #ffbb00 10%, #1bff00 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto rem(140);
    max-width: 715px;
    font-size: 41px;
    line-height: 71px;
    letter-spacing: 0.2em;

    @include media(990) {
      font-size: 15px;
      letter-spacing: 0.3em;
      line-height: 26px;
      max-width: 270px;
      margin-bottom: rem(80);
    }
  }

  &__content {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    display: flex;

    br {
      display: none;
    }

    @include media(990) {
      display: none;
    }

    opacity: 0;
    // transform: translateY(rem(-40));
    transition: all 400ms ease-in-out;
    max-height: 0;
    overflow: hidden;

    &._active {
      opacity: 1;
      // transform: translateY(0);
      max-height: 100%;
      margin-bottom: rem(20);
    }
  }
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 990px;
  margin: 0 auto;

  @include media (990) {
    flex-direction: column;
    align-items: center
  }

  @include media (600) {
    max-width: 350px;
    margin: 0 auto;
  }

  // .accordion__item
  &__item {
    max-width: 265px;
    width: max-content;
    margin-bottom: rem(40);
    cursor: pointer;

    @include media (990) {
      max-width: 350px;
      margin-bottom: rem(50);
    }

    &.open {
      .accordion__header {
        min-height: 30px;
      }

      .accordion__icon {
        transition: all 0.5s ease-in-out;
        transform: rotate(0);
      }

      .accordion__content {
        max-height: 100%;
        margin-top: rem(35);
      }
    }

    &.box-1,
    &.box-3,
    &.box-5 {
      .accordion__title {
        background: linear-gradient(270deg, #e511ff 10%, #00fff6 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    &.box-2,
    &.box-4 {
      .accordion__title {
        background: linear-gradient(270deg, #ffbb00 10%, #1bff00 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    &.box-4 {
      max-width: 310px;
      margin: 0 auto;
      margin-bottom: rem(40);

      @include media (990) {
        max-width: 350px;
      }
    }

    &.box-5 {
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: rem(40);

      @include media(990) {
        margin-bottom: 0;
      }
    }
  }

  // .accordion__header
  &__header {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  // .accordion__title
  &__title {
    font-family: "BunkenTech";
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 34px;

    @include media (990) {
      max-width: 280px;
      font-size: 14px;
      letter-spacing: 0.3em;
      line-height: 26px;
    }
  }

  // .accordion__icon
  &__icon {
    display: block;
    flex: 0 0 20px;
    height: 20px;
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);

    & .icon-plus,
    & .icon-minus {
      & path {
        fill: #333;
      }
    }

    &.hide {
      & .icon-minus {
        display: none;
      }
    }

    &.show {
      & .icon-plus {
        display: none;
      }
    }
  }

  // .accordion__content
  &__content {
    overflow: hidden;
    transition: all 200ms linear;
    display: none;

    @include media(990) {
      display: block;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      height: 0;
    }
  }

  // .accordion__content-text
  &__content-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }
}

@keyframes heightanimete {
  0% {
    max-height: 0;
  }

  15% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}