.footer {
  padding-top: 75px;
  padding-bottom: 80px;
  @include media(1440){
    padding: 50px 15px 50px;

 }
  @include media(800) {
    padding: 75px 15px 40px;
  }
  .container {
    max-width: 1520px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    &.one {
      margin-bottom: 110px;
      @include media(800) {
        margin-bottom: 50px;
      }
      @include media(600) {
        align-items: center;
        flex-direction: column;
      }
      .logo {
        max-width: 240px;
        width: 100%;
        @include media(600) {
          margin-bottom: 30px;
        }
      }
    }
    &.two {
      align-items: center;
      @include media(800) {
        flex-direction: column;
      }
      .copy {
        font-size: 14px;
        line-height: 16px;
        margin-right: 300px;
        @include media(1280) {
          margin-right: 150px;
        }

        @include media(990) {
          margin-right: 30px;
        }
        @include media(800) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .links {
        margin-right: auto;
        @include media(800) {
          margin-right: 0;
          margin-bottom: 20px;
        }
        a {
          color: #ffffff;
          font-size: 14px;
          line-height: 16px;
          margin-right: 55px;
          text-decoration: none;
          @include media(800) {
            margin: 0 30px;
          }
          @include media(600) {
            margin: 0 15px;
          }
        }
      }
      .design {
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        text-decoration: none;
      }
    }
    .social {
      @include media(600) {
        text-align: center;
      }
      &__title {
        margin-bottom: 22px;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
      }
      &__block {
        display: flex;
        .box {
          margin-right: 40px;
          display: flex;
          flex-direction: column;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #ffffff;
            margin-bottom: 4px;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            @include media(600) {
                margin: 0 15px;
              }
          }
        }
        .design {
          font-size: 14px;
          line-height: 16px;
          color: #ffffff;
          text-decoration: none;
        }
      }
      .social {
       
        @include media(600){
            text-align: center;
        }
        &__title {
          margin-bottom: 22px;
          font-size: 20px;
          font-weight: 700;
          line-height: 27px;

        }
        &__block {
          display: flex;
          .box {
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            &:last-child {
              margin-right: 0;
            }
            a {
              color: #ffffff;
              margin-bottom: 4px;
              font-size: 14px;
              line-height: 16px;
              text-decoration: none;
              opacity: 0.6;
              font-weight: 400;
              @include media(600){
                margin-bottom: 15px;
            }
            }
          }
        }
      }
    }
  }
}
