::-webkit-scrollbar {
    width: 0;
  }
  .section {
    position: relative;
    color: #ffffff;
    padding: 15px;
    .video__bg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      height: 100vh;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
      }
    }
  }
  .fp-watermark {
    display: none;
  }
  .text-center {
    text-align: center;
  }
  .gradient {
    background: linear-gradient(-90deg, #ab00ff 25%, #00fff6 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green__gradient {
    background: linear-gradient(-90deg, #fb0 40%, #1bff00 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
  }
  .box-text {
    position: absolute;
    max-width: 780px;
    z-index: 2;
    @include media (990) {
      max-width: 390px;
    }
    &::before {
      background: #000000;
      opacity: 0.6;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    transition: all 2s ease-in-out;
  
    h2 {
      padding-top: 33px;
      z-index: 1;
      font-size: 32px;
      line-height: 64px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 20px;
      font-family: "BunkenTech";
      @include media (1366) {
        font-size: 28px;
        line-height: 56px;
        margin-bottom: 15px;
        padding-top: 20px;
      }
      @include media (990) {
        padding-top: 17px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 28px;
      }
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      @include media (1366) {
        font-size: 16px;
        line-height: 22px;
      }
      @include media (990) {
        font-size: 12px;
        line-height: 22px;
        br {
          display: none;
        }
      }
    }
  }