.scene__1 {
    background: url(../images/black__bg.png);
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    object-position: center bottom;
    padding: 0;
    .head__block {
      
      height: 100vh;
      overflow: hidden;
      object-fit: cover;
      object-position: center bottom;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
    @include media(990){
      // display: none;
  }
}
.mute-sound {
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10;
}